body {
  background:url(./home1.jpg) no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: center;
  margin-bottom: -3px;
  width: 100%;
  font-size: 1em;
  color: #f6f7f8;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  background-color: rgba(53, 47, 47, 0.1);
  font-weight: bold;
}

h1 {
  text-align: center;
  padding: 20px;
  width: 100%;
  font-size: 2.5em;
  color: #f6f7f8;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  letter-spacing: 1.2px;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid #3498db;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}


.connectButton, .donate, .withdraw {
  display: block;
  width: 80%;
  max-width: 200px;
  height: 45px;
  margin: 20px auto;
  background: #3498db;
  text-align: center;
  border: 1px solid #3498db;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 10px;
  line-height: 45px;
  cursor: pointer;
  box-shadow: 0px 5px 0px 0px #2980b9;
  transition: all 0.3s ease;
}

.connectButton:hover, .donate:hover, .withdraw:hover {
  background: #2980b9;
  box-shadow: 0px 5px 0px 0px #3498db;
}

.connectButton:active, .donate:active, .withdraw:active {
  box-shadow: 0px 2px 0px 0px #2980b9;
  transform: translateY(3px);
}

.connect, .input {
  text-align: center;
  width: 80%;
  max-width: 300px;
  margin: 10px auto;
  font-size: 18px;
}

.input input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  max-width: 200px;
  display: block;
  margin: 0 auto;
  border: 1px solid #3498db;
}
.totalDonations {
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

.totalDonations h2 {
  margin-bottom: 5px;
}

.totalDonations p {
  font-size: 24px;
  font-weight: bold;
}
